@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900,700italic,500italic,400italic,300italic,900italic);
 * {
    font-family:'Roboto', sans-serif;
    text-height: 13px;
    
}
.mainView {
    margin-top: 55px;
}
/*Edit In Place**/
 .edit-in-place span {
    cursor: pointer;
}
.edit-in-place input {
    display: none;
}
.edit-in-place.active span {
    display: none;
}
.edit-in-place.active input {
    display: inline-block;
}
/*Performance indicator styling*/
 .stat {
    text-align: center;
    font-size:12px;
    font-weight: bold;
}
/* Possible Fix */
 .module > *:last-child, .module > *:last-child > *:last-child, .module > *:last-child > *:last-child > *:last-child {
    margin: 0;
}
.module {
    width: 20rem;
    padding: 0.25rem;
    margin: 0.25rem auto;
    background: white;
}
.module h1{
    font-size: 11px;
    font-weight: 100;
    margin-bottom: 2px;
    padding-bottom: 0;
    line-height: 13px;
}
.kpi {
    border-top: 1px solid #e3e3e3;
    text-align: center;
    font-size:12px;
    font-weight: 400;
}
.table th{
    font-size: 11px;
    font-weight: 100;
    font-style: normal;
}
.table td{
    font-weight: 400;
    font-style: normal;
}
.tablelink{
    color: #444;
}
.tablelink:hover{
    color: #999;
    text-decoration: none;
}