<div class="row-fluid">
    <form class="form-horizontal">
        <fieldset>
            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="AppName">Name</label>
                <div class="controls">
                    <input id="appName" name="AppName" type="text" placeholder="MyApp" class="input" ng-model="inputAppName" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="domain">Domain</label>
                <div class="controls">
                    <input id="domain" name="domain" type="text" placeholder="myapp.domain.com" class="input" ng-model="inputDomain" required="">
                    
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="target">Target</label>
                <div class="controls">
                    <input id="target" name="target" type="text" placeholder="localhost:3000" class="input" ng-model="inputTarget" required="">
                    
                </div>
            </div>

            <!-- select input-->
            <div class="control-group">
                <label class="control-label" for="appType">Runtime</label>
                <div class="controls">
                    <select id="appType">
                        <option>Select Runtime</option>
                        <option value='node'>Node</option>
                    </select>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="path">Project Path</label>
                <div class="controls">
                    <input id="path" name="path" type="text" placeholder="/root/apps/app1/" class="input" ng-model="inputPath" required="">
                    
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="entry">Entry Point</label>
                <div class="controls">
                    <input id="entry" name="target" type="text" placeholder="app.js" class="input" ng-model="inputEntry" required="">
                    
                </div>
            </div>

            <hr />
            <!-- Button (Double) -->
            <div class="control-group">
                <label class="control-label" for="save"></label>
                <div class="controls">
                    <button id="save" name="save" ng-click="save()" class="btn btn-inverse pull-right">Create</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>