<div class="well well-small" style="height:555px;">
    <h4>Current Apps</h4>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Domain</th>
                <th>Target</th>
                <th>Root</th>
                <th>Entrypoint</th>
                <th>Status</th>
                <th>PID</th>
                <th>
                    <!--Controls -->
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="app in apps">
                <td>

                    <strong>{{app.name}}</strong>

                </td>

                <td>
                    <span inline-edit="app.domain" on-save="updateApp('domain',  app.domain, app._id)" on-cancel="cancelEdit(app._id)" class="eie"></span>
                </td>
                <td>
                    <span inline-edit="app.target" on-save="updateApp('target',  app.target, app._id)" on-cancel="cancelEdit(app._id)" class="eie"></span>
                </td>
                <td>
                    <span inline-edit="app.entryPoint" on-save="updateApp('entryPoint',  app.entryPoint, app._id)" on-cancel="cancelEdit(app._id)" class="eie"></span>
                </td>
                <td>
                    <span inline-edit="app.rootPath" on-save="updateApp('rootPath',  app.rootPath, app._id)" on-cancel="cancelEdit(app._id)" class="eie"></span>
                </td>
                <td ng-bind="app.status"></td>
                <td ng-bind="app.pid"></td>
                <td>

                    <div class="btn-group">
                        <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a ng-click="proxyStop()"><i class="icon-pause"></i>&nbsp;Stop</a>
                            </li>
                            <li><a ng-click="proxyStart()"><i class="icon-play-circle"></i>&nbsp;Start</a>
                            </li>
                            <li><a ng-click="proxyRestart()"><i class="icon-refresh"></i>&nbsp;Restart</a>
                            </li>
                            <li>
                                <a href="#/apps/{{app._id}}/delete"><i class="icon-remove"></i>&nbsp;Delete</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row-fluid">
        <div class="btn-group">
            <div class="btn-group">
                <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                    Proxy Actions
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a ng-click="proxyStop()"><i class="icon-pause"></i>&nbsp;Stop</a>
                    </li>
                    <li><a ng-click="proxyStart()"><i class="icon-play-circle"></i>&nbsp;Start</a>
                    </li>
                    <li><a ng-click="proxyRestart()"><i class="icon-refresh"></i>&nbsp;Restart</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                    App Actions
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a ng-click="stopAll()"><i class="icon-pause"></i>&nbsp;Stop All</a>
                    </li>
                    <li><a ng-click="startAll()"><i class="icon-play-circle"></i>&nbsp;Start All</a>
                    </li>
                    <li><a ng-click="restartAll()"><i class="icon-refresh"></i>&nbsp;Restart All</a>
                    </li>


                </ul>
            </div>
        </div>

    </div>
</div>