<div class="row-fluid">
    <form class="form-horizontal">
        <fieldset>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="adminport">Admin Port</label>
                <div class="controls">
                    <input id="adminport" name="adminport" type="text" placeholder="5000" class="input-mini" ng-model="inputAdminPort">
                </div>
            </div>

             <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="adminport">Proxy Port</label>
                <div class="controls">
                    <input id="adminport" name="adminport" type="text" placeholder="80" class="input-mini" ng-model="inputProxyPort">
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="connstr">Mongo Conn. String</label>
                <div class="controls">
                    <input id="connstr" name="connstr" type="text" placeholder="3" class="input" ng-model="inputConStr">
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="maxRetries">maxRetries</label>
                <div class="controls">
                    <input id="maxRetries" name="maxRetries" type="text" placeholder="3" class="input-mini" ng-model="inputMaxRetries">

                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="targetRetryDelay">targetRetryDelay</label>
                <div class="controls">
                    <input id="targetRetryDelay" name="targetRetryDelay" type="text" placeholder="5" class="input-mini" ng-model="inputTargetRetryDelay">

                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="message404">message404</label>
                <div class="controls">
                    <input id="message404" name="message404" type="text" placeholder="host not found." class="input" ng-model="inputMessage404">

                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="message503">message503</label>
                <div class="controls">
                    <input id="message503" name="message503" type="text" placeholder="host unavailable." class="input" ng-model="inputMessage503">

                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="logLevel">logLevel</label>
                <div class="controls">
                    <input id="logLevel" name="logLevel" type="text" placeholder="debug" class="input-small" ng-model="inputLogLevel">

                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="logFile">logFile</label>
                <div class="controls">
                    <input id="logFile" name="logFile" type="text" placeholder="app.log" class="input-large" ng-model="inputLogFile">

                </div>
            </div>

            <!-- Button (Double) -->
            <div class="control-group">
                <label class="control-label" for="save"></label>
                <div class="controls">
                    <button id="save" name="save" ng-click="save()" class="btn btn-inverse">Save</button>
                    <button id="discard" name="discard" ng-click="discard()" class="btn btn-default">Discard</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>