<div class="well well-small" style="height: 555px;">
    <h4>System Status</h4>

    <div class="row-fluid">
        <div class="stat span4 module">
            <h1>Total Hits</h1>
            <div class="kpi" ng-bind="stats.hits"></div>
        </div>
        <div class="stat span4 module">
            <h1>1min Rate</h1>
            <div class="kpi" ng-bind="proxyMetrics.allRequestsPerSecond.1MinuteRate"></div>
        </div>
        <div class="stat span4 module">
            <h1>Proxy Status</h1>
            <div class="kpi" ng-bind="proxyStatus"></div>
        </div>
    </div>
    <hr />
    <h4>Application Hits</h4>

    <div class="row-fluid">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Domain</th>
                    <th># Hits</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="appstat in stats.persite">
                    <td ng-bind="appstat.domain"></td>
                    <td ng-bind="appstat.hits"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h4>Endpoint Health</h4>
    <div class="row-fluid">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>url</th>
                    <th>status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="status in pingStatus">
                    <td ng-bind="status.url"></td>
                    <td>
                        <i class="icon-ok-circle" ng-show="status.status_num > 0"></i>
                        <i class="icon-exclamation-sign" ng-show="status.status_num == 0"></i>
                        <i class="icon-ban-circle" ng-show="status.status_num < 0"></i>&nbsp;{{status.status}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>